@import url("https://p.typekit.net/p.css?s=1&k=fjk7mzj&ht=tk&f=7909.7913.49388.51205&a=551943&app=typekit&e=css");
@font-face {
    font-family: "runda";
    src: url("https://use.typekit.net/af/2e47e7/000000000000000077359bec/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/2e47e7/000000000000000077359bec/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/2e47e7/000000000000000077359bec/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
}

@font-face {
    font-family: "runda";
    src: url("https://use.typekit.net/af/91a73d/000000000000000077359c09/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"), url("https://use.typekit.net/af/91a73d/000000000000000077359c09/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"), url("https://use.typekit.net/af/91a73d/000000000000000077359c09/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 700;
    font-stretch: normal;
}

@font-face {
    font-family: "argent-cf";
    src: url("https://use.typekit.net/af/0126af/00000000000000007735f8a8/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3") format("woff2"), url("https://use.typekit.net/af/0126af/00000000000000007735f8a8/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3") format("woff"), url("https://use.typekit.net/af/0126af/00000000000000007735f8a8/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3") format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 100;
    font-stretch: normal;
}

@font-face {
    font-family: "argent-cf";
    src: url("https://use.typekit.net/af/a7847e/000000000000000077368790/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i1&v=3") format("woff2"), url("https://use.typekit.net/af/a7847e/000000000000000077368790/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i1&v=3") format("woff"), url("https://use.typekit.net/af/a7847e/000000000000000077368790/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i1&v=3") format("opentype");
    font-display: auto;
    font-style: italic;
    font-weight: 100;
    font-stretch: normal;
}


/*--Resets --*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figure,
figcaption,
hgroup,
menu,
footer,
header,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
}

ul {
    list-style: none;
}

article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video {
    display: block;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

b,
strong {
    font-weight: bold;
}

input[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

 ::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

.clear:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

a img {
    border: 0;
    width: auto;
    height: auto;
    max-width: 100%;
    vertical-align: bottom;
    border-style: none;
}

a,
input,
select,
textarea {
    outline: none;
}

img {
    width: auto;
    height: auto;
    max-width: 100%;
    vertical-align: bottom;
    border-style: none;
}


/* Selection colours (easy to forget) */

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}

a {
    text-decoration: none;
    display: inline-block;
}

input[type='number'] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input:invalid,
input:required {
    box-shadow: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

input:required {
    box-shadow: none;
}

input::-moz-focus-inner {
    box-shadow: 0 0 0px transparent;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="number"],
input[type="submit"],
input[type="password"],
select,
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

a img {
    border: 0;
    width: auto;
    height: auto;
    max-width: 100%;
    vertical-align: bottom;
    border-style: none;
    -webkit-perspective: 0;
    perspective: 0;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    visibility: visible;
    backface-visibility: hidden;
}

img {
    width: auto;
    height: auto;
    max-width: 100%;
    vertical-align: bottom;
    border-style: none;
    -webkit-perspective: 0;
    perspective: 0;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    visibility: visible;
    backface-visibility: hidden;
}


/* =============================================

Default Layout
Font property css
font:font-style font-variant font-weight font-size/line-height font-family|caption|icon|menu|message-box|small-caption|status-bar|initial|inherit;
*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
    max-height: 100%;
    min-height: 100%;
    overflow: hidden;
    overflow-y: scroll;
}

body {
    background: var(--white);
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 15px;
    line-height: normal;
    font-family: "runda", sans-serif;
    font-weight: normal;
}


/* color code name */

:root {
    --white: #ffffff;
    --black: #000000;
}


/* color code name */


/* Global style */

a {
    font-family: "runda", sans-serif;
    font-weight: 700;
    font-style: normal;
}

span,
p {
    font-family: "runda", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-family: "argent-cf", serif;
    font-style: normal;
    font-weight: 100;
    font-size: 40px;
    line-height: 44px;
    letter-spacing: 3px;
}

h2 {
    font-family: "argent-cf", serif;
    font-style: normal;
    font-weight: 100;
    font-size: 40px;
    line-height: 44px;
    letter-spacing: normal;
}

h3 {
    font-family: "argent-cf", serif;
    font-weight: 100;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: normal;
}

h4 {
    font-family: "runda", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: normal;
}

h5 {
    font-family: "runda", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: normal;
}

h6 {
    font-family: "runda", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: normal;
}

dfn,
address,
em {
    font-family: "runda", sans-serif;
    font-style: normal;
}

label,
input[type="submit"] {
    cursor: pointer;
}

button:focus {
    outline: none;
}

.btn {
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    text-align: center;
    font-size: 16px;
    line-height: 16px;
    color: var(--white);
    font-family: var(--TWKLausanne550);
    padding: 11px 20px 9px;
    background-color: var(--heavy-metal);
    border-radius: 40px;
    border: 1px solid var(--heavy-metal);
    min-width: 198px;
}

.btn:hover {
    background-color: transparent;
    color: var(--heavy-metal);
}

.btn-underline {
    font-size: 14px;
    line-height: 16px;
    text-decoration: underline;
    text-underline-offset: 3px;
    transition: .3s ease-in-out;
    color: var(--delta);
    font-family: var(--TWKLausanne550);
}

.btn-underline:hover {
    text-decoration: none;
}

.mobi {
    display: none;
}

.desk {
    display: block;
}

.common-wrap {
    max-width: 1640px;
    margin: 0 auto;
    clear: both;
    padding: 0 20px;
}

.centerY {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: 50%;
    width: 100%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #ffffff;
}


/* Flex style */

.flex-box {
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.flex-horizontal-align {
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.flex-vertical-align {
    -webkit-box-align: center;
    align-items: center;
}

.flex-bottom-align {
    -webkit-box-align: flex-end;
    align-items: flex-end;
}

.flex-content-align {
    -webkit-align-content: center;
    -moz-align-content: center;
    align-content: center;
}

.order-1 {
    -webkit-order: 1;
    -moz-order: 1;
    -ms-order: 1;
    order: 1;
}

.order-2 {
    -webkit-order: 2;
    -moz-order: 2;
    -ms-order: 2;
    order: 2;
}

.flex {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
}


/* End Flex style */

section,
footer,
header {
    float: left;
    width: 100%;
    position: relative;
}

body,
html {
    height: 100%;
}

.main-wrap {
    overflow: hidden;
}

.main-section-wrap {
    float: left;
    width: 100%;
}


/* Start dektop css */


/* start header section */

#header-wrap {
    z-index: 9999999999999;
    position: fixed;
    top: 0;
    width: 100%;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.disable-scroll {
    overflow: hidden;
}

.solid-background {
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.header-wrap .common-wrap {
    max-width: 1638px;
}

.header-inner {
    float: left;
    width: 100%;
    flex-flow: row;
    padding: 27px 0;
}

.header-logo {
    float: left;
    width: 212px;
    z-index: 99999999999999999;
    position: relative;
}

.header-nav {
    float: left;
    width: 100%;
    max-width: 700px;
}

.header-nav ul {
    float: left;
    width: 100%;
    margin-top: 10px;
    justify-content: space-between;
    flex-flow: row;
}

.header-nav ul li a {
    float: left;
    width: 100%;
    font-size: 14px;
    letter-spacing: 3px;
    line-height: 35px;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    padding: 0px 25px;
    transition: 0.3s ease-in-out;
}

.header-nav ul li .active {
    background-color: #9d0202;
}

.header-nav ul li a:hover {
    background-color: #9d0202;
}

.header-nav ul li .dropdown {
    display: none;
}

.header-nav ul li:hover .dropdown {
    display: block;
    position: absolute;
    min-width: 330px;
    background: rgba(0, 0, 0, 0.5);
    margin-top: 35px;
}

.header-nav ul li:hover .dropdown ul {
    margin: 0;
    padding: 10px 22px;
}

.header-nav ul li:hover .dropdown ul li {
    width: 100%;
}

.header-nav ul li:hover .dropdown ul li a {
    color: #ffffff;
    text-align: left;
    font-size: 14px;
    line-height: 30px;
    font-weight: 300;
    letter-spacing: 0;
    position: relative;
    padding: 0;
}

.header-nav ul li:hover .dropdown ul li a:hover {
    color: #ac0606;
    background: none;
    padding-left: 25px;
}

.header-nav ul li:hover .dropdown ul li a:hover::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 1px;
    background-color: #ac0606;
    top: 15px;
    left: 0px;
}

.phone-nav {
    position: absolute;
    right: 20px;
    top: 30px;
    width: 24px;
    display: none;
}

.phone-nav div {
    float: left;
    width: 100%;
    height: 2px;
    border: 1px solid #bfbfbf;
    background: #ffffff;
    margin: 3px 0;
}


/* end header-section */


/* ==== start home page === */


/* start hero section */

.hero-bg {
    position: absolute;
    width: 100%;
    z-index: 1;
    border-bottom: 7px solid red;
}

.hero-bg img {
    height: 1019px;
    width: 100%;
}

.hero-inner {
    float: left;
    width: 100%;
    z-index: 99;
    position: relative;
    padding: 417px 0 350px 48px;
}

.hero-inner h6 {
    font-size: 14px;
    letter-spacing: 3px;
    line-height: 35px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    width: 100%;
    float: left;
    margin-left: 7px;
    margin-bottom: 14px;
}

.hero-inner h1 {
    max-width: 670px;
    font-size: 100px;
    font-weight: 400;
    letter-spacing: -2px;
    -webkit-letter-spacing: -2px;
    line-height: 98px;
    color: #ffffff;
}

.border-lines:first-child {
    position: absolute;
    background-color: #ffffff;
    width: 19200px;
    height: 1px;
    top: 434px;
    left: 459px;
}

.border-lines:nth-child(2) {
    position: absolute;
    top: 425px;
    left: 0;
    width: 1px;
    height: 347px;
    background-color: #ffffff;
}

.border-lines:nth-child(3) {
    position: absolute;
    background-color: #ffffff;
    width: 100000px;
    height: 1px;
    top: 688px;
    left: -10000px;
}


/* end hero section  */


/*start about section */

.about-wrap .common-wrap {
    position: relative;
}

.about-inner {
    float: left;
    width: 100%;
    padding: 90px 0 0;
}

.about-heading {
    max-width: 960px;
    margin: 0 auto;
}

.about-heading span {
    position: absolute;
    top: 35px;
    left: 74px;
    transform: rotate(-90deg);
    font-size: 11px;
    letter-spacing: 2px;
    line-height: 35px;
    text-transform: uppercase;
    color: #ac0707;
    font-weight: bold;
    animation: yoyoAnimation 2s infinite alternate ease-in-out;
}

@keyframes yoyoAnimation {
    0%,
    100% {
        transform: rotate(-90deg) translateX(0);
    }
    50% {
        transform: rotate(-90deg) translateX(-10px);
    }
}

.about-heading span::after {
    content: '';
    position: absolute;
    width: 45px;
    height: 2px;
    background-color: #ac0606;
    top: 16px;
    left: -67px;
}

.about-heading h2 {
    max-width: 700px;
    font-size: 38px;
    line-height: 46px;
    color: #253364;
}

.about-top-content {
    float: left;
    width: 100%;
    margin-top: 257px;
    display: flex;
    gap: 75px;
}

.about-top {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 20px;
    clear: both;
}

.about-top-img {
    position: relative;
    z-index: 999;
    margin-left: -20px;
}

.about-top-img img {
    min-width: 657px;
}

.about-top-peragraph {
    float: left;
    width: 45%;
    position: relative;
    max-width: 543px;
    padding-top: 73px;
}

.about-top-peragraph::after {
    content: '';
    position: absolute;
    top: -113px;
    right: -340px;
    width: 1183px;
    height: 855px;
    background-color: #f4f5f7;
    z-index: 9;
}

.about-top-peragraph p {
    position: relative;
    float: left;
    width: 100%;
    margin-top: 25px;
    font-size: 17px;
    line-height: 24px;
    color: #253364;
    z-index: 99;
}

.about-bottom-content {
    float: left;
    width: 100%;
    background-color: #1c2542;
    padding: 410px 0 130px;
    margin-top: -180px;
}

.about-bottom {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
    clear: both;
}

.about-bottom-wrap {
    float: left;
    width: 100%;
    display: flex;
    gap: 100px;
    flex-flow: row;
}

.about-bottom-peragraph {
    max-width: 600px;
}

.about-bottom-peragraph p {
    font-size: 17px;
    line-height: 24px;
    color: #ffffff;
    margin: 30px 0 37px;
}

.about-btn {
    float: left;
    width: 100%;
    margin-top: 15px;
}

.about-btn a {
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 24px;
    color: #ffffff;
    font-weight: bold;
}

.redline {
    width: 45px;
    height: 2px;
    background-color: #ac0707;
    animation: yoyoWidthAnimation 3s infinite alternate ease-in-out;
}

@keyframes yoyoWidthAnimation {
    0%,
    100% {
        width: 1px;
    }
    50% {
        width: 45px;
    }
}

.about-bottom-img img {
    min-width: 700px
}


/* end about section  */


/* start service section */

.service-wrap {
    padding-bottom: 143px;
}

.service-wrap .common-wrap {
    position: relative;
}

.service-inner {
    max-width: 1206px;
    margin: 0 auto;
    padding: 130px 0 150px;
}

.service-inner h3 {
    width: 100%;
    margin-bottom: 10px;
    font-size: 38px;
    line-height: 50px;
    color: #253364;
    font-weight: 300;
}

.service-inner p {
    width: 100%;
    max-width: 795px;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    color: #253364;
}

.service-item-wrap {
    float: left;
    width: 100%;
    gap: 6px;
    margin-top: 33px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.service-item-wrap h6 {
    position: absolute;
    top: 370px;
    left: -50px;
    transform: rotate(-90deg);
    font-size: 11px;
    letter-spacing: 2px;
    line-height: 35px;
    text-transform: uppercase;
    color: #ac0707;
    font-weight: bold;
    animation: yoyoAnimation 2s infinite alternate ease-in-out;
}

.service-item-wrap h6::after {
    content: '';
    position: absolute;
    width: 45px;
    height: 2px;
    background-color: #ac0606;
    top: 16px;
    left: -53px;
}

.service-item {
    float: left;
    width: 100%;
    max-width: 397px;
    height: 155px;
    position: relative;
    transition: 0.3s ease-in-out;
    position: relative;
}

.service-item figure {
    width: 100%;
    height: 100%;
}

.service-item figure img {
    width: 100%;
    height: 100%;
}

.service-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(91deg, #1b2541 0%, #1b2541 16%, #11172d 76%, #11172d 100%);
    width: 100%;
    height: 100%;
    z-index: 9;
    opacity: 1;
}

.service-item:hover::before {
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.service-item:hover {
    transition: 0.3s ease-in-out;
}

.service-item:hover::after {
    content: '';
    position: absolute;
    top: -39px;
    right: 88px;
    width: 2px;
    height: 233px;
    background-color: #ac0707;
    z-index: 99;
    transform: rotate(49deg);
    transition: 0.3s ease-in-out;
}

.service-item-content {
    position: absolute;
    top: 0;
    width: 100%;
    float: left;
    padding: 20px;
    z-index: 999;
}

.service-item-content::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 177px;
    height: 155px;
    z-index: 9;
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
    background-image: linear-gradient(91deg, #1c2542 0%, #1c2542 16%, #11172d 76%, #11172d 100%);
}

.service-item-content h4 {
    max-width: 235px;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 23px;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 13px;
    z-index: 999999;
    position: relative;
}

.service-item-content .redline {
    transition: 0.3s ease-in-out;
}

.service-item-content .service-item-content:hover .redline {
    background-color: #ffffff;
}

.service-item-content a {
    opacity: 0;
    position: absolute;
    top: 120px;
    left: 20px;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 300;
    transition: 0.3s ease-in-out;
}

.service-item:hover a {
    opacity: 1;
}


/* end service section */


/* === end home page === */


/* === start service page === */


/* start service hero section  */

.service-hero .hero-bg img {
    max-height: 772px;
}

.service-hero .hero-inner {
    padding-bottom: 210px;
}

.service-hero .hero-inner h1 {
    width: 100%;
    max-width: 1800px;
    font-style: italic;
}

.service-hero .border-lines:first-child {
    left: 250px;
}

.service-hero .border-lines:nth-child(3) {
    top: 620px;
}


/*end service hero section */


/* === end service page === */


/* ==== start service-details page ==== */


/* start service about section */

.service-about-wrap .common-wrap {
    max-width: 1460px;
    position: relative;
}

.service-about-inner {
    width: 100%;
    padding: 100px 0;
    max-width: 885px;
    margin: 0 auto;
}

.service-about-content-wrap {
    background-color: #f4f5f7;
    width: 1565px;
    height: auto;
    float: left;
    padding: 90px 120px;
}

.service-about-content {
    float: left;
    width: 100%;
    max-width: 796px;
}

.service-about-content span {
    position: absolute;
    top: 170px;
    left: -70px;
    transform: rotate(-90deg);
    font-size: 11px;
    letter-spacing: 2px;
    line-height: 35px;
    text-transform: uppercase;
    color: #ac0707;
    font-weight: bold;
    animation: yoyoAnimation 2s infinite alternate ease-in-out;
}

.service-about-content span::after {
    content: '';
    position: absolute;
    width: 45px;
    height: 2px;
    background-color: #ac0606;
    top: 16px;
    left: -67px;
}

.service-about-content h2 {
    font-size: 36px;
    line-height: 42px;
    color: #253364;
    padding-left: 30px;
    position: relative;
    margin-bottom: 50px;
}

.service-about-content h2::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: #ac0707;
}

.service-about-content p {
    font-size: 17px;
    line-height: 24px;
    color: #253364;
    margin-top: 30px;
}


/* end service about section */


/* start service section */

.service-details {
    background-color: #f4f5f7;
}


/* end service section */


/* start representative section */

.representative-wrap {
    padding: 140px 0 170px;
}

.representative-wrap .common-wrap {
    max-width: 1460px;
}

.representative-inner {
    float: left;
    width: 100%;
}

.representative-inner h2 {
    font-size: 48px;
    line-height: 42px;
    color: #ac0707;
    font-style: italic;
}

.representative-item-wrap {
    float: left;
    width: 100%;
    gap: 80px;
    justify-content: center;
    margin-top: 60px;
}

.representative-item {
    float: left;
    width: 46.8%;
    padding-left: 30px;
    border-left: 2px solid #ac0707;
}

.representative-item h3 {
    font-size: 58px;
    letter-spacing: -2px;
    color: #1c2542;
}

.representative-item h4 {
    font-size: 17px;
    text-transform: uppercase;
    color: #1c2542;
    margin-top: 20px;
}

.representative-item p {
    font-size: 17px;
    line-height: 24px;
    color: #253364;
    margin-top: 25px;
}


/* end representative section */


/* ==== end service-details page ==== */


/* === start contact page === */


/* start contact hero section */

.contact-hero .border-lines:first-child {
    left: 470px;
}


/* end contact hero section */


/* start contact section  */

.contact-wrap {
    padding: 100px 0 140px;
}

.contact-wrap .common-wrap {
    position: relative;
    max-width: 1500px;
}

.contact-inner {
    max-width: 1180px;
    margin: 0 auto;
    width: 100%;
}

.contact-content {
    float: left;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-flow: row;
    gap: 100px;
}

.contact-content span {
    position: absolute;
    top: 15px;
    left: -35px;
    transform: rotate(-90deg);
    font-size: 11px;
    letter-spacing: 2px;
    line-height: 35px;
    text-transform: uppercase;
    color: #ac0707;
    font-weight: bold;
    animation: yoyoAnimation 2s infinite alternate ease-in-out;
}

.contact-content span::after {
    content: '';
    position: absolute;
    width: 45px;
    height: 2px;
    background-color: #ac0606;
    top: 16px;
    left: -67px;
}

.contact-input-wrap {
    width: 100%;
    float: left;
    max-width: 800px;
}

.contact-input {
    float: left;
    width: 100%;
    display: flex;
    gap: 15px;
    flex-flow: row wrap;
    justify-content: space-between;
}

.contact-input input,
textarea {
    padding: 25px;
    font-size: 14px;
    line-height: 34px;
    color: #0d293a;
    font-family: "runda", sans-serif;
    border-radius: 5px;
    background-color: #ffffff;
    border: 1px solid rgba(131, 131, 131, 0.5);
}

.input-name {
    width: 100%;
}

.input-company {
    width: 49%;
}

.input-phone {
    width: 49%;
}

.input-email {
    width: 100%;
}

#message {
    width: 100%;
    height: 362px;
    resize: vertical;
}

.captcha {
    float: left;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 35px;
}

.captcha img {
    height: 75px;
    width: 300px;
}

.submit-btn {
    float: left;
    width: 100%;
}

.submit-btn input {
    width: 280px;
    text-align: center;
    padding: 20px 0;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 2px;
    color: #ffffff;
    font-weight: bold;
    background-color: #1b2541;
    border: 1px solid #1b2541;
    transition: 0.3s ease-in-out;
}

.submit-btn input:hover {
    background-color: #ffffff;
    color: #1b2541;
}

.contact-address-wrap {
    max-width: 290px;
}

.contact-address {
    float: left;
    width: 100%;
    margin-bottom: 30px;
}

.contact-address h6 {
    float: left;
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    color: #253364;
    font-weight: bold;
}

.contact-address p {
    float: left;
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    color: #253364;
    margin-top: 10px;
}


/* end contact section  */


/* === end contact page === */


/* === start blog page === */

.blog-wrap {
    padding: 100px 0 150px;
}

.blog-wrap .common-wrap {
    max-width: 1310px;
}

.blog-inner {
    float: left;
    width: 100%;
}

.blog-item-wrap {
    float: left;
    width: 100%;
}

.blog-item-inner {
    float: left;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    gap: 60px;
    margin-bottom: 100px;
}

.blog-item {
    width: 100%;
    max-width: 383px;
    background-color: #f3f5f7;
    border: 1px solid transparent;
    transition: 0.3s ease-in-out;
    opacity: 1;
}

.blog-item:hover {
    background-color: #1c2542;
    opacity: 0.859;
    z-index: 998;
}

.blog-item:hover span {
    color: #ffffff;
}

.blog-item:hover h3 {
    color: #ffffff;
}

.blog-item:hover .redline {
    background-color: #ffffff;
}

.blog-item:hover a {
    color: #ffffff;
}

.blog-item:hover figure {
    opacity: 0.3;
}

.blog-item figure {
    float: left;
    width: 100%;
}

.blog-item figure img {
    width: 100%;
}

.blog-item-content {
    float: left;
    width: 100%;
    padding: 30px;
}

.blog-item-content span {
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 25px;
    text-transform: uppercase;
    color: #1c2542;
    opacity: 1;
    position: relative;
    z-index: 999;
}

.blog-item-content span span {
    font-weight: bold;
    position: relative;
    z-index: 999;
}

.blog-item-content h3 {
    font-size: 24px;
    letter-spacing: 1px;
    line-height: 25px;
    color: #1c2542;
    margin-bottom: 85px;
    margin-top: 30px;
    opacity: 1;
    position: relative;
    z-index: 999;
}

.blog-item-content .redline {
    margin-bottom: 20px;
    opacity: 1;
    position: relative;
    z-index: 999;
}

.blog-item-content a {
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 24px;
    color: #ac0707;
    font-weight: bold;
    opacity: 1;
    position: relative;
    z-index: 999;
}

.pagination {
    float: left;
    width: 227px;
    border-bottom: 1px solid #f3f5f7;
    display: flex;
    justify-content: space-between;
    flex-flow: row;
}

.page-number {
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 32px;
    color: #000000;
    width: 20%;
    font-family: "Runda";
    text-align: center;
    padding-bottom: 20px;
    cursor: pointer;
}

.active-page {
    color: #b92d2d;
    border-bottom: 2px solid #b92d2d;
    padding-bottom: 20px;
}


/* === end blog page === */


/* === start blog article page  === */


/* start header */

.blog-article-header {
    background-color: #1c2542;
    border-bottom: 7px solid #a10707;
}


/* end header */


/* start blog-article */

.blog-article-wrap .common-wrap {
    max-width: 1000px;
}

.blog-article-inner {
    float: left;
    width: 100%;
}

.blog-article-content {
    float: left;
    width: 100%;
}

.blog-content-heading {
    float: left;
    width: 100%;
    padding-top: 280px;
    padding-bottom: 130px;
    background-color: #f4f5f7;
}

.blog-content-heading-innner {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
    clear: both;
}

.blog-content-heading span {
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 25px;
    text-transform: uppercase;
    color: #1c2542;
}

.blog-content-heading span span {
    font-weight: bold;
}

.blog-content-heading h3 {
    max-width: 778px;
    font-size: 36px;
    color: #253364;
    margin: 30px 0;
}

.blog-content-img {
    float: left;
    width: 100%;
    margin-top: -80px;
    margin-bottom: 50px;
}

.blog-content-img figure {
    float: left;
    width: 100%;
}

.blog-content-img figure img {}

.blog-content-peragraph {
    max-width: 780px;
    margin: 0 auto;
}

.blog-content-peragraph p {
    font-size: 18px;
    line-height: 28px;
    color: #253364;
    font-weight: 300;
    margin-bottom: 30px;
}

.blog-content-title {
    padding: 30px 0;
    margin-bottom: 30px;
    border-top: 1px solid #f4f5f7;
    border-bottom: 1px solid #f4f5f7;
}

.blog-content-title h3 {
    max-width: 620px;
    font-size: 36px;
    color: #253364;
}

.blog-person-wrap {
    max-width: 1000px;
    padding: 20px 20px 150px;
    clear: both;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 4px;
    flex-flow: row wrap;
}

.blog-person-item {
    max-width: 390px;
    max-height: 585px;
    position: relative;
    z-index: 8;
    transition: 0.3s ease-in-out;
}

.blog-person-item figure {
    float: left;
    width: 100%;
}

.blog-person-item figure img {
    width: 100%;
}

.blog-person-item-content {
    float: left;
    width: 100%;
    opacity: 0.800;
    background-color: #1b2541;
    padding: 20px 30px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 9;
    transition: 0.3s ease-in-out;
}

.blog-person-item:hover .blog-person-item-content {
    opacity: 0.800;
    max-height: 586px;
    background-color: #1b2541;
    padding-top: 330px;
    padding-bottom: 140px;
}

.blog-person-item-content h3 {
    font-size: 27px;
    line-height: 25px;
    color: #ffffff;
    position: relative;
    z-index: 99;
    opacity: 1;
}

.blog-person-item-content span {
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 25px;
    text-transform: uppercase;
    color: #ffffff;
    position: relative;
    z-index: 99;
    opacity: 1;
}

.blog-person-item-content .redline {
    position: relative;
    z-index: 99;
    margin-top: 20px;
    display: none;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.blog-person-item:hover .blog-person-item-content .redline {
    opacity: 1;
    display: block;
}

.blog-person-item-content a {
    position: relative;
    z-index: 99;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 24px;
    color: #ffffff;
    font-weight: bold;
    margin-top: 20px;
    opacity: 0;
    transition: 0.3s ease-in-out;
    display: none;
}

.blog-person-item:hover .blog-person-item-content a {
    opacity: 1;
    display: block;
}


/* end vlog article */


/* === end blog article page  === */


/* === start professionals page === */

.team-wrap .common-wrap {
    max-width: 1650px;
}

.team-inner {
    float: left;
    width: 100%;
    padding: 125px 0 135px;
}

.team-item-wrap {
    float: left;
    width: 100%;
    display: flex;
    justify-content: left;
    gap: 15px;
    flex-flow: row wrap;
}

.team-item {
    max-width: 390px;
    max-height: 585px;
    position: relative;
    z-index: 8;
    transition: 0.3s ease-in-out;
}

.team-item figure {
    float: left;
    width: 100%;
}

.team-item figure img {
    width: 100%;
}

.team-item-content {
    float: left;
    width: 100%;
    opacity: 0.800;
    background-color: #1b2541;
    padding: 20px 30px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 9;
    transition: 0.3s ease-in-out;
}

.team-item:hover .team-item-content {
    opacity: 0.800;
    max-height: 586px;
    background-color: #1b2541;
    padding-top: 330px;
    padding-bottom: 140px;
}

.team-item-content h3 {
    font-size: 27px;
    line-height: 25px;
    color: #ffffff;
    position: relative;
    z-index: 99;
    opacity: 1;
}

.team-item-content span {
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 25px;
    text-transform: uppercase;
    color: #ffffff;
    position: relative;
    z-index: 99;
    opacity: 1;
}

.team-item-content .redline {
    position: relative;
    z-index: 99;
    margin-top: 20px;
    display: none;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.team-item:hover .team-item-content .redline {
    opacity: 1;
    display: block;
}

.team-item-content a {
    position: relative;
    z-index: 99;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 24px;
    color: #ffffff;
    font-weight: bold;
    margin-top: 20px;
    opacity: 0;
    transition: 0.3s ease-in-out;
    display: none;
}

.team-item:hover .team-item-content a {
    opacity: 1;
    display: block;
}


/* === end professionals page === */


/* start footer section  */

.footer-wrap {
    background-color: #1c2542;
    padding-top: 100px;
}

.footer-wrap::after {
    content: '';
    position: absolute;
    top: 107px;
    left: 0;
    width: 100%;
    height: 7px;
    background-color: #ac0606;
}

.footer-wrap .common-wrap {
    max-width: 1240px;
}

.footer-inner {
    float: left;
    width: 100%;
    padding: 82px 0 35px;
}

.footer-top {
    float: left;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 82px;
}

.footer-left {
    float: left;
    width: 50%;
}

.footer-left h2 {
    min-width: 558px;
    font-size: 38px;
    font-weight: 300;
    line-height: 42px;
    color: #ffffff;
    font-style: italic;
    margin-bottom: 38px;
}

.footer-left-bottom {
    float: left;
    width: 100%;
    display: flex;
    gap: 50px;
}

.footer-contact-link a {
    margin-top: 20px;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 24px;
    color: #ffffff;
    font-weight: bold;
}

.footer-right {
    float: left;
    width: 33.3%;
}

.footer-address {
    float: left;
    width: 100%;
    display: flex;
    gap: 85px;
}

.footer-address-item h4 {
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 28px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
}

.footer-address-item p {
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 28px;
    text-transform: uppercase;
    color: #ffffff;
}

.footer-contact-num {
    float: left;
    width: 100%;
    display: flex;
    gap: 10px;
    margin-top: 38px;
}

.footer-contact-num p {
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 28px;
    text-transform: uppercase;
    color: #ffffff;
}

.footer-contact-num p span {
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 28px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
}

.footer-info {
    float: left;
    width: 100%;
}

.footer-info h4 {
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 28px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
}

.footer-bottom {
    max-width: 1110px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    border-top: 1px solid #ffffff;
}

.footer-bottom ul {
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

.footer-bottom ul li {
    border-left: 1px solid;
    font-size: 12px;
    letter-spacing: 0px;
    color: #ffffff;
    text-align: center;
    padding: 0 10px;
    font-family: "runda", sans-serif;
}

.footer-bottom p {
    font-size: 12px;
    letter-spacing: 0px;
    color: #ffffff;
    text-align: center;
    padding: 0 10px;
    padding-top: 15px;
}


/* end footer section  */


/* end desktop css */


/* =========================================
============================================ Responsive style ========================================== */


/*    Mobile Layout: 320px and 480px and more but less than or equal to 767px.
----------------------------------------------------------------------------------
*/

@media only screen and (min-width: 320px) and (max-width: 480px) {
    input[type="text"],
    input[type="email"],
    input[type="tel"],
    input[type="search"],
    input[type="number"],
    input[type="submit"],
    input[type="password"],
    select,
    textarea {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
    .mobi {
        display: block;
    }
    .desk {
        display: none;
    }
    /* start header section */
    /* end header-section */
    /* ==== start home page === */
    /* start about section */
    .about-heading h2 {
        font-size: 23px;
    }
    .about-inner {
        padding: 30px 0 0;
    }
    .about-top-peragraph::after {
        height: 400px;
    }
    .about-bottom-content {
        padding: 100px 0 60px;
    }
    /* end about section */
    /* start practice section */
    .service-item-wrap {
        position: relative;
    }
    .service-item-wrap h6 {
        margin-top: -268px;
        left: -72px;
    }
    /* end practice section */
    /* === end home page === */
    /* === start service page === */
    .service-hero .hero-inner h1 {
        font-size: 30px;
        line-height: 40px;
    }
    /* === end service page === */
}


/*    Wide Mobile Layout: 480px.
------------------------------------------------------------
*/

@media only screen and (max-width: 768px) {
    /* start header section */
    #header-wrap {
        padding: 20px 0;
    }
    .header-inner {
        float: left;
        display: block;
        width: 100%;
        padding: 0;
    }
    #header-wrap .common-wrap {
        padding: 0;
    }
    .header-logo {
        width: 130px;
        padding-left: 20px;
        margin: 0;
    }
    .header-nav {
        max-width: 100%;
        display: none;
    }
    .nav-expand .header-nav {
        display: flex;
        flex-flow: column;
        transform: translateX(0);
        overflow-y: scroll;
        background-color: #000;
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        text-align: center;
    }
    .nav-expand .phone-nav div:after,
    .nav-expand .phone-nav div:before {
        width: 30%;
    }
    .phone-nav div:after,
    .phone-nav div:before {
        content: '';
        top: -8px;
        left: 0;
        position: absolute;
        background-color: #ffffff;
        width: 100%;
        height: 2px;
        transition: .5s ease-in-out
    }
    .phone-nav div:before {
        bottom: -7px;
        top: auto;
    }
    .phone-nav {
        display: block;
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
    }
    .header-nav ul {
        display: block;
    }
    .nav-expand .header-wrap {
        height: 100vh;
        background-color: #000;
    }
    .header-nav ul {
        display: block;
        margin: 0 auto;
        padding-top: 100px;
        padding-bottom: 30px;
    }
    .header-nav ul li {
        padding: 10px 0;
    }
    .header-nav ul li:hover .dropdown {
        position: relative;
    }
    .header-nav ul li:hover .dropdown ul {
        width: 100%;
        float: left;
        display: flex;
        flex-direction: column;
    }
    .header-nav ul li:hover .dropdown ul li a {
        text-align: center;
    }
    .header-nav ul li:hover .dropdown ul li a:hover {
        padding-left: 13px;
    }
    /* end header-section */
    /* ====   start home page     ==== */
    /* start hero section  */
    .hero-bg img {
        height: 300px;
    }
    .hero-inner {
        padding: 125px 0 165px;
    }
    .hero-inner h6 {
        font-size: 10px;
        letter-spacing: 0;
        margin-bottom: 0;
        line-height: normal;
        font-weight: 500;
    }
    .hero-inner h1 {
        font-size: 36px;
        line-height: normal;
        position: absolute;
        top: 140px;
        left: 0;
        width: 221px;
    }
    .border-lines:first-child {
        top: 129px;
        left: 214px;
    }
    .border-lines:nth-child(2) {
        top: 125px;
        left: -5px;
        height: 145px;
    }
    .border-lines:nth-child(3) {
        top: 230px;
    }
    /* end hero section  */
    /* start about section */
    .about-heading span {
        top: 28px;
        left: -30px;
    }
    .about-heading h2 {
        line-height: normal;
    }
    .about-top-content {
        margin-top: 50px;
        display: block;
    }
    .about-top-img {
        margin: 0;
    }
    .about-top-img img {
        min-width: 280px;
    }
    .about-top-peragraph {
        width: 100%;
        padding: 0;
        margin: 0 auto;
        float: none;
    }
    .about-top-peragraph p {
        font-size: 14px;
        line-height: normal;
    }
    .about-top-peragraph::after {
        top: 0;
        right: -10000px;
        width: 100000px;
    }
    .about-bottom-content {
        margin: 0;
        padding: 155px 0 60px;
    }
    .about-bottom-wrap {
        justify-content: center;
        flex-flow: row wrap;
    }
    .about-bottom-peragraph p {
        font-size: 14px;
        line-height: normal;
    }
    .about-bottom-img img {
        min-width: 280px;
    }
    /* end about section  */
    .service-inner {
        padding: 50px 0 0px;
    }
    .service-inner h3 {
        font-size: 32px;
        line-height: 38px;
    }
    .service-inner p {
        font-size: 12px;
        line-height: 16px;
    }
    .service-item-content h4 {
        font-size: 14px;
    }
    .service-item-content a {
        font-size: 12px;
    }
    /* ======end home page ===== */
    /* === start service page === */
    /* start service hero section  */
    .service-wrap {
        padding-bottom: 50px;
    }
    .service-hero .hero-bg img {
        max-height: 270px;
    }
    .service-hero .hero-inner {
        padding-bottom: 140px;
    }
    .service-hero .hero-inner h1 {
        max-width: 100%;
    }
    .service-hero .border-lines:first-child {
        left: 110px;
        top: 130px;
    }
    .service-hero .border-lines:nth-child(3) {
        top: 200px;
    }
    /*end service hero section */
    /* === end service page === */
    /* === start service-details page === */
    /* start service details section  */
    .service-about-content-wrap {
        width: 100%;
        padding: 50px 15px;
    }
    .service-about-content h2 {
        font-size: 18px;
        line-height: 26px;
    }
    .service-about-content p {
        font-size: 12px;
        line-height: 16px;
    }
    /* end service details section  */
    /* start representative section */
    .representative-wrap {
        padding: 100px 0;
    }
    .representative-item {
        width: 100%;
    }
    .representative-item h3 {
        font-size: 40px;
    }
    .representative-item h4 {
        font-size: 14px;
        margin-top: 10px;
    }
    .representative-item p {
        font-size: 11px;
        line-height: 14px;
        margin-top: 10px;
    }
    /* end representative section */
    /* === end service-details page === */
    /* === start contact page === */
    .contact-hero .hero-inner h1 {
        font-size: 45px;
    }
    .contact-hero .border-lines:first-child {
        left: 220px;
    }
    .contact-wrap {
        padding: 50px 0;
    }
    .input-company {
        width: 100%;
    }
    .input-phone {
        width: 100%;
    }
    .contact-content {
        justify-content: center;
        flex-flow: row wrap;
    }
    .contact-address-wrap {
        max-width: 600px;
    }
    /* === end contact page === */
    /* === start blog-article page === */
    .blog-content-heading {
        padding-top: 180px;
    }
    .blog-content-heading h3 {
        font-size: 26px;
        line-height: 30px;
    }
    .blog-content-peragraph p {
        font-size: 14px;
        line-height: 18px;
    }
    .blog-content-title h3 {
        font-size: 24px;
        line-height: 28px;
    }
    .blog-person-item {
        max-width: 240px;
        max-height: 360px;
    }
    .blog-person-item:hover {
        max-width: 240px;
        max-height: 360px;
    }
    .blog-person-item:hover .blog-person-item-content {
        padding-top: 185px;
        padding-bottom: 60px;
    }
    .blog-person-item-content h3 {
        font-size: 18px;
    }
    .blog-person-item-content span {
        font-size: 12px;
        letter-spacing: 0px;
    }
    /* === end blog-article page === */
    /* === start profesionals page === */
    .team-item-wrap {
        justify-content: center;
    }
    .team-item {
        max-width: 240px;
        max-height: 360px;
    }
    .team-item:hover {
        max-width: 240px;
        max-height: 360px;
    }
    .team-item:hover .team-item-content {
        padding-top: 185px;
        padding-bottom: 60px;
    }
    .team-item-content h3 {
        font-size: 18px;
    }
    .team-item-content span {
        font-size: 12px;
        letter-spacing: 0px;
    }
    /* === end professionals page === */
    /* start footer section */
    .footer-wrap {
        padding-top: 70px;
    }
    .footer-wrap::after {
        top: 40px;
    }
    .footer-inner {
        text-align: center;
        padding: 0 0 20px;
    }
    .footer-top {
        margin-bottom: 20px;
    }
    .footer-top,
    .footer-address,
    .footer-contact-num,
    .footer-left-bottom,
    .footer-bottom,
    .footer-bottom ul {
        gap: 20px;
        flex-flow: row wrap;
        flex-direction: column;
    }
    .footer-left,
    .footer-right {
        width: 100%;
    }
    .footer-left h2 {
        min-width: 280px;
        margin-bottom: 20px;
    }
    .footer-contact-link {
        width: 100%;
    }
    .footer-contact-link .redline {
        margin: 0 auto;
    }
    .footer-bottom ul li {
        border: none;
    }
    /* end footer section  */
}


/*    Tablet Layout: 768px.
-----------------------------------------------------------------
*/

@media only screen and (min-width: 481px) and (max-width: 768px) {
    input[type="text"],
    input[type="email"],
    input[type="tel"],
    input[type="search"],
    input[type="number"],
    input[type="submit"],
    input[type="password"],
    select,
    textarea {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
    .mobi {
        display: block;
    }
    .desk {
        display: none;
    }
    /* ==== start home page === */
    /* start about section */
    .about-top-peragraph::after {
        height: 320px;
    }
    /* end about section  */
    /* start service section */
    .service-inner {
        padding: 50px 0;
    }
    .service-wrap {
        padding-bottom: 50px;
    }
    .service-wrap h6 {
        top: 315px;
    }
    .service-item {
        width: 100%;
    }
    /* end service section */
    /* === end home page === */
}


/*    Tablet Layout: 1024px.
-----------------------------------------------------------------
*/

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    input[type="text"],
    input[type="email"],
    input[type="tel"],
    input[type="search"],
    input[type="number"],
    input[type="submit"],
    input[type="password"],
    select,
    textarea {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
    .mobi {
        display: block;
    }
    .desk {
        display: none;
    }
    /* start header section */
    .header-logo {
        width: 150px;
    }
    .header-nav {
        max-width: 570px;
    }
    .header-nav ul li a {
        letter-spacing: 0;
        padding: 0 20px;
    }
    .header-nav ul li:hover .dropdown ul li a {
        font-size: 12px;
        line-height: 24px;
    }
    /* end header-section */
    /* ==== start home page === */
    /* start about section  */
    .about-inner {
        padding: 30px 0 0;
    }
    .about-heading span {
        left: -30px;
    }
    .about-top-content {
        margin-top: 60px;
        display: block;
    }
    .about-top-img {
        margin: 0;
        justify-content: center;
        display: flex;
    }
    .about-top-img img {
        min-width: 280px;
    }
    .about-top-peragraph {
        width: 100%;
        padding: 0;
        margin: 0 auto;
        float: none;
    }
    .about-top-peragraph::after {
        top: 0;
        right: -10000px;
        width: 100000px;
        height: 400px;
    }
    .about-bottom-content {
        margin: 0;
        padding: 100px 0 60px;
    }
    .about-bottom-wrap {
        justify-content: center;
        flex-flow: row wrap;
    }
    /* end about section */
    .service-item {
        width: 100%;
        max-width: 48%;
    }
    /* === end home page === */
    /* ====start service page ==== */
    .service-hero .hero-inner h1 {
        font-size: 58px;
    }
    /* ====start service page ==== */
    /* ====start service-details page ==== */
    /* start service details section */
    .service-about-content {
        max-width: 585px;
    }
    .service-about-content h2 {
        font-size: 29px;
    }
    .service-about-content p {
        font-size: 14px;
        margin-top: 20px;
    }
    /* end service details section */
    /* start representative section */
    .representative-item {
        width: 44%;
    }
    .representative-item h3 {
        font-size: 40px;
    }
    .representative-item h4 {
        font-size: 14px;
        margin-top: 10px;
    }
    .representative-item p {
        font-size: 11px;
        line-height: 14px;
        margin-top: 10px;
    }
    /* === end representative section */
    /* ====end service-details page ==== */
    /* === start contact page === */
    .contact-hero .hero-inner h1 {
        font-size: 70px;
    }
    .contact-wrap {
        padding: 50px 0;
    }
    .input-company {
        width: 100%;
    }
    .input-phone {
        width: 100%;
    }
    .contact-content {
        justify-content: center;
        flex-flow: row wrap;
    }
    .contact-address-wrap {
        max-width: 600px;
    }
    /* === end contact page === */
    /* === start blog-article page === */
    .blog-content-heading {
        padding-top: 180px;
    }
    .blog-content-heading h3 {
        font-size: 28px;
        line-height: 32px;
    }
    .blog-content-peragraph p {
        font-size: 16px;
        line-height: 20px;
    }
    .blog-content-title h3 {
        font-size: 26px;
        line-height: 30px;
    }
    .blog-person-item {
        max-width: 300px;
        max-height: 500px;
    }
    .blog-person-item:hover {
        max-width: 300px;
        max-height: 500px;
    }
    .blog-person-item:hover .blog-person-item-content {
        padding-top: 224px;
        padding-bottom: 110px;
    }
    .blog-person-item-content h3 {
        font-size: 18px;
    }
    .blog-person-item-content span {
        font-size: 12px;
        letter-spacing: 0px;
    }
    /* === end blog-article page === */
    /* === start profesionals page === */
    .team-item-wrap {
        justify-content: center;
    }
    .team-item {
        max-width: 300px;
        max-height: 500px;
    }
    .team-item:hover {
        max-width: 300px;
        max-height: 500px;
    }
    .team-item:hover .team-item-content {
        padding-top: 224px;
        padding-bottom: 110px;
    }
    .team-item-content h3 {
        font-size: 20px;
    }
    .team-item-content span {
        font-size: 14px;
        letter-spacing: 0px;
    }
    /* === end professionals page === */
    /* start footer section  */
    .footer-right {
        width: 50%;
    }
    /* end footer section  */
}

@media only screen and (min-width: 992px) and (max-width: 1366px) {
    /* ===== start home page ==== */
    /* start about section */
    .about-top-content {
        margin-top: 130px;
        display: block;
    }
    .about-heading span {
        left: -30px;
    }
    .about-top-img {
        margin: 0;
        justify-content: center;
        display: flex;
    }
    .about-top-img img {
        min-width: 280px;
    }
    .about-top-peragraph {
        width: 100%;
        padding: 0;
        margin: 0 auto;
        float: none;
    }
    .about-top-peragraph::after {
        top: 0;
        right: -10000px;
        width: 100000px;
        height: 400px;
    }
    .about-bottom-content {
        padding: 200px 0 120px;
        margin: 0;
    }
    .about-bottom-wrap {
        justify-content: center;
        flex-flow: row wrap;
    }
    /* end about section  */
    /* ===== end home page =====  */
    /* ====start service page ==== */
    .service-hero .hero-inner h1 {
        font-size: 75px;
    }
    /* ==== end service page ==== */
    /* === start service-details page  === */
    .representative-item {
        width: 45%;
    }
    /* === end service-details page  === */
    /* === start contact page === */
    .input-company {
        width: 48%;
    }
    .input-phone {
        width: 48%;
    }
    /* === end contact page === */
    /* === start profesionals page === */
    .team-item-wrap {
        justify-content: center;
    }
    .team-item {
        max-width: 300px;
        max-height: 500px;
    }
    .team-item:hover {
        max-width: 300px;
        max-height: 500px;
    }
    .team-item:hover .team-item-content {
        padding-top: 224px;
        padding-bottom: 110px;
    }
    .team-item-content h3 {
        font-size: 20px;
    }
    .team-item-content span {
        font-size: 14px;
        letter-spacing: 0px;
    }
    /* === end professionals page === */
}

@media only screen and (min-width: 1337px) and (max-width: 1645px) {
    /* === start profesionals page === */
    .team-item-wrap {
        justify-content: center;
    }
    .team-item {
        max-width: 313px;
        max-height: 500px;
    }
    .team-item:hover {
        max-width: 313px;
        max-height: 500px;
    }
    .team-item:hover .team-item-content {
        padding-top: 243px;
        padding-bottom: 110px;
    }
    .team-item-content h3 {
        font-size: 20px;
    }
    .team-item-content span {
        font-size: 14px;
        letter-spacing: 0px;
    }
    /* === end professionals page === */
}